<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center bg-dark">
            <h4>User Registration</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm">
              <div class="form-group mb-3">
                <label for="userName" class="form-label">Enter Your Name</label>
                <input 
                  type="text" 
                  id="userName" 
                  class="form-control" 
                  formControlName="userName"
                  [class.is-invalid]="getControl('userName')?.invalid && getControl('userName')?.touched">
                <div *ngIf="getControl('userName')?.invalid" class="invalid-feedback">
                  <span *ngIf="getControl('userName')?.touched && getControl('userName')?.errors?.['required']">User name is required.</span>
                  <span *ngIf="getControl('userName')?.errors?.['maxlength']">User name must be within 20 characters.</span>
                  <span *ngIf="getControl('userName')?.errors?.['pattern']">Username must contain only lowercase letters and numbers, without spaces or special characters. </span>
                  <span *ngIf="getControl('userName')?.errors?.['userNameTaken']">Username is already taken.</span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="country" class="form-label">Select Country</label>
                <select 
                  id="country" 
                  class="form-select" 
                  formControlName="country"
                  [class.is-invalid]="getControl('country')?.invalid && getControl('country')?.touched">
                  <option disabled value="">Select Country</option>
                  <option *ngFor="let country of countries" [value]="country?.code">{{ country?.fullName }}</option>
                </select>
  
                <div *ngIf="getControl('country')?.invalid && getControl('country')?.touched" class="invalid-feedback">
                  <span>Country selection is required.</span>
                </div>
              </div>
              <div class="d-flex">
                <button class="w-50 btn btn-primary clickable" [disabled]="userForm.invalid" (click)="onSubmit()">Register</button>
                <button class="w-50 offset-1 btn btn-danger clickable" (click)="onCancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  